<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dscy.pasture.mapper.FodderMapper" >
  <resultMap id="BaseResultMap" type="com.dscy.pasture.entity.Fodder" >
    <id column="fodder_id" property="fodderId" jdbcType="INTEGER" />
    <result column="show_id" property="showId" jdbcType="INTEGER" />
    <result column="fodder_img_url" property="fodderImgUrl" jdbcType="VARCHAR" />
    <result column="fodder_level" property="fodderLevel" jdbcType="INTEGER" />
    <result column="fodder_exp" property="fodderExp" jdbcType="VARCHAR" />
    <result column="fodder_status" property="fodderStatus" jdbcType="INTEGER" />
    <result column="fodder_name" property="fodderName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fodder_id, show_id, fodder_img_url, fodder_level, fodder_exp, fodder_status, fodder_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dscy.pasture.entity.FodderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fodder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fodder
    where fodder_id = #{fodderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fodder
    where fodder_id = #{fodderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dscy.pasture.entity.FodderExample" >
    delete from fodder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dscy.pasture.entity.Fodder" >
    insert into fodder (fodder_id, show_id, fodder_img_url, 
      fodder_level, fodder_exp, fodder_status, 
      fodder_name)
    values (#{fodderId,jdbcType=INTEGER}, #{showId,jdbcType=INTEGER}, #{fodderImgUrl,jdbcType=VARCHAR}, 
      #{fodderLevel,jdbcType=INTEGER}, #{fodderExp,jdbcType=VARCHAR}, #{fodderStatus,jdbcType=INTEGER}, 
      #{fodderName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dscy.pasture.entity.Fodder" >
    insert into fodder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fodderId != null" >
        fodder_id,
      </if>
      <if test="showId != null" >
        show_id,
      </if>
      <if test="fodderImgUrl != null" >
        fodder_img_url,
      </if>
      <if test="fodderLevel != null" >
        fodder_level,
      </if>
      <if test="fodderExp != null" >
        fodder_exp,
      </if>
      <if test="fodderStatus != null" >
        fodder_status,
      </if>
      <if test="fodderName != null" >
        fodder_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fodderId != null" >
        #{fodderId,jdbcType=INTEGER},
      </if>
      <if test="showId != null" >
        #{showId,jdbcType=INTEGER},
      </if>
      <if test="fodderImgUrl != null" >
        #{fodderImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="fodderLevel != null" >
        #{fodderLevel,jdbcType=INTEGER},
      </if>
      <if test="fodderExp != null" >
        #{fodderExp,jdbcType=VARCHAR},
      </if>
      <if test="fodderStatus != null" >
        #{fodderStatus,jdbcType=INTEGER},
      </if>
      <if test="fodderName != null" >
        #{fodderName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dscy.pasture.entity.FodderExample" resultType="java.lang.Integer" >
    select count(*) from fodder
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fodder
    <set >
      <if test="record.fodderId != null" >
        fodder_id = #{record.fodderId,jdbcType=INTEGER},
      </if>
      <if test="record.showId != null" >
        show_id = #{record.showId,jdbcType=INTEGER},
      </if>
      <if test="record.fodderImgUrl != null" >
        fodder_img_url = #{record.fodderImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.fodderLevel != null" >
        fodder_level = #{record.fodderLevel,jdbcType=INTEGER},
      </if>
      <if test="record.fodderExp != null" >
        fodder_exp = #{record.fodderExp,jdbcType=VARCHAR},
      </if>
      <if test="record.fodderStatus != null" >
        fodder_status = #{record.fodderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.fodderName != null" >
        fodder_name = #{record.fodderName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fodder
    set fodder_id = #{record.fodderId,jdbcType=INTEGER},
      show_id = #{record.showId,jdbcType=INTEGER},
      fodder_img_url = #{record.fodderImgUrl,jdbcType=VARCHAR},
      fodder_level = #{record.fodderLevel,jdbcType=INTEGER},
      fodder_exp = #{record.fodderExp,jdbcType=VARCHAR},
      fodder_status = #{record.fodderStatus,jdbcType=INTEGER},
      fodder_name = #{record.fodderName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dscy.pasture.entity.Fodder" >
    update fodder
    <set >
      <if test="showId != null" >
        show_id = #{showId,jdbcType=INTEGER},
      </if>
      <if test="fodderImgUrl != null" >
        fodder_img_url = #{fodderImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="fodderLevel != null" >
        fodder_level = #{fodderLevel,jdbcType=INTEGER},
      </if>
      <if test="fodderExp != null" >
        fodder_exp = #{fodderExp,jdbcType=VARCHAR},
      </if>
      <if test="fodderStatus != null" >
        fodder_status = #{fodderStatus,jdbcType=INTEGER},
      </if>
      <if test="fodderName != null" >
        fodder_name = #{fodderName,jdbcType=VARCHAR},
      </if>
    </set>
    where fodder_id = #{fodderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dscy.pasture.entity.Fodder" >
    update fodder
    set show_id = #{showId,jdbcType=INTEGER},
      fodder_img_url = #{fodderImgUrl,jdbcType=VARCHAR},
      fodder_level = #{fodderLevel,jdbcType=INTEGER},
      fodder_exp = #{fodderExp,jdbcType=VARCHAR},
      fodder_status = #{fodderStatus,jdbcType=INTEGER},
      fodder_name = #{fodderName,jdbcType=VARCHAR}
    where fodder_id = #{fodderId,jdbcType=INTEGER}
  </update>
</mapper>