<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dscy.pasture.mapper.SignMapper" >
  <resultMap id="BaseResultMap" type="com.dscy.pasture.entity.Sign" >
    <id column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="show_id" property="showId" jdbcType="INTEGER" />
    <result column="sign_name" property="signName" jdbcType="VARCHAR" />
    <result column="sign_day" property="signDay" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="exp_prize_id" property="expPrizeId" jdbcType="INTEGER" />
    <result column="exp_prize_name" property="expPrizeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    s_id, show_id, sign_name, sign_day, status, exp_prize_id, exp_prize_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dscy.pasture.entity.SignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sign
    where s_id = #{sId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sign
    where s_id = #{sId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dscy.pasture.entity.SignExample" >
    delete from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dscy.pasture.entity.Sign" >
    insert into sign (s_id, show_id, sign_name, 
      sign_day, status, exp_prize_id, 
      exp_prize_name)
    values (#{sId,jdbcType=INTEGER}, #{showId,jdbcType=INTEGER}, #{signName,jdbcType=VARCHAR}, 
      #{signDay,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{expPrizeId,jdbcType=INTEGER}, 
      #{expPrizeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dscy.pasture.entity.Sign" >
    insert into sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        s_id,
      </if>
      <if test="showId != null" >
        show_id,
      </if>
      <if test="signName != null" >
        sign_name,
      </if>
      <if test="signDay != null" >
        sign_day,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="expPrizeId != null" >
        exp_prize_id,
      </if>
      <if test="expPrizeName != null" >
        exp_prize_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sId != null" >
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="showId != null" >
        #{showId,jdbcType=INTEGER},
      </if>
      <if test="signName != null" >
        #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signDay != null" >
        #{signDay,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="expPrizeId != null" >
        #{expPrizeId,jdbcType=INTEGER},
      </if>
      <if test="expPrizeName != null" >
        #{expPrizeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dscy.pasture.entity.SignExample" resultType="java.lang.Integer" >
    select count(*) from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sign
    <set >
      <if test="record.sId != null" >
        s_id = #{record.sId,jdbcType=INTEGER},
      </if>
      <if test="record.showId != null" >
        show_id = #{record.showId,jdbcType=INTEGER},
      </if>
      <if test="record.signName != null" >
        sign_name = #{record.signName,jdbcType=VARCHAR},
      </if>
      <if test="record.signDay != null" >
        sign_day = #{record.signDay,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.expPrizeId != null" >
        exp_prize_id = #{record.expPrizeId,jdbcType=INTEGER},
      </if>
      <if test="record.expPrizeName != null" >
        exp_prize_name = #{record.expPrizeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sign
    set s_id = #{record.sId,jdbcType=INTEGER},
      show_id = #{record.showId,jdbcType=INTEGER},
      sign_name = #{record.signName,jdbcType=VARCHAR},
      sign_day = #{record.signDay,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      exp_prize_id = #{record.expPrizeId,jdbcType=INTEGER},
      exp_prize_name = #{record.expPrizeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dscy.pasture.entity.Sign" >
    update sign
    <set >
      <if test="showId != null" >
        show_id = #{showId,jdbcType=INTEGER},
      </if>
      <if test="signName != null" >
        sign_name = #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signDay != null" >
        sign_day = #{signDay,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="expPrizeId != null" >
        exp_prize_id = #{expPrizeId,jdbcType=INTEGER},
      </if>
      <if test="expPrizeName != null" >
        exp_prize_name = #{expPrizeName,jdbcType=VARCHAR},
      </if>
    </set>
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dscy.pasture.entity.Sign" >
    update sign
    set show_id = #{showId,jdbcType=INTEGER},
      sign_name = #{signName,jdbcType=VARCHAR},
      sign_day = #{signDay,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      exp_prize_id = #{expPrizeId,jdbcType=INTEGER},
      exp_prize_name = #{expPrizeName,jdbcType=VARCHAR}
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
</mapper>