<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dscy.pasture.mapper.UpgradeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.dscy.pasture.entity.UpgradeRecord" >
    <id column="ar_id" property="arId" jdbcType="INTEGER" />
    <result column="show_id" property="showId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="pets_id" property="petsId" jdbcType="INTEGER" />
    <result column="pets_name" property="petsName" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ar_id, show_id, user_id, user_name, pets_id, pets_name, add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dscy.pasture.entity.UpgradeRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from upgrade_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from upgrade_record
    where ar_id = #{arId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from upgrade_record
    where ar_id = #{arId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dscy.pasture.entity.UpgradeRecordExample" >
    delete from upgrade_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dscy.pasture.entity.UpgradeRecord" >
    insert into upgrade_record (ar_id, show_id, user_id,
      user_name, pets_id, pets_name, 
      add_time)
    values (#{arId,jdbcType=INTEGER}, #{showId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{petsId,jdbcType=INTEGER}, #{petsName,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dscy.pasture.entity.UpgradeRecord" >
    insert into upgrade_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="arId != null" >
        ar_id,
      </if>
      <if test="showId != null" >
        show_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="petsId != null" >
        pets_id,
      </if>
      <if test="petsName != null" >
        pets_name,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="arId != null" >
        #{arId,jdbcType=INTEGER},
      </if>
      <if test="showId != null" >
        #{showId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="petsId != null" >
        #{petsId,jdbcType=INTEGER},
      </if>
      <if test="petsName != null" >
        #{petsName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dscy.pasture.entity.UpgradeRecordExample" resultType="java.lang.Integer" >
    select count(*) from upgrade_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update upgrade_record
    <set >
      <if test="record.arId != null" >
        ar_id = #{record.arId,jdbcType=INTEGER},
      </if>
      <if test="record.showId != null" >
        show_id = #{record.showId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.petsId != null" >
        pets_id = #{record.petsId,jdbcType=INTEGER},
      </if>
      <if test="record.petsName != null" >
        pets_name = #{record.petsName,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update upgrade_record
    set ar_id = #{record.arId,jdbcType=INTEGER},
      show_id = #{record.showId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      pets_id = #{record.petsId,jdbcType=INTEGER},
      pets_name = #{record.petsName,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dscy.pasture.entity.UpgradeRecord" >
    update upgrade_record
    <set >
      <if test="showId != null" >
        show_id = #{showId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="petsId != null" >
        pets_id = #{petsId,jdbcType=INTEGER},
      </if>
      <if test="petsName != null" >
        pets_name = #{petsName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ar_id = #{arId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dscy.pasture.entity.UpgradeRecord" >
    update upgrade_record
    set show_id = #{showId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      pets_id = #{petsId,jdbcType=INTEGER},
      pets_name = #{petsName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where ar_id = #{arId,jdbcType=INTEGER}
  </update>
</mapper>